/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
  background-color: $secondary-color;
  color: $primary-color;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 3em;
}

.c-footer-brand {
  width: 80px;
  display: block;
  margin: auto;
}
