/* ==========================================================================
   #SETTINGS
   ========================================================================== */

/**
  *Page:
  *Defaults html
*/

html {
  font-size: 1em;
  font-family: $font-family-sans-serif;
  background-color: $primary-color;
  color: $secondary-color;
}
