/*.clip-ellipse {
  background-image: url('/assets/img/_DSC0796b.jpg');
  background-size: cover;
  height: 100px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);

}*/
/*
.test-svg {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
*/
