@media screen and (min-width: 576px) {
  .u-transition-ColorBorder {
    transition-property: color, border-top;
  }

  .u-transition-color {
    transition-property: color;
  }

  .u-transition-border-top {
    transition-property: border-top;
  }

  .u-transition-linear {
    transition-timing-function: linear;
  }

  .u-transition-ease {
    transition-timing-function: ease;
  }

  .u-transition-easeIn {
    transition-timing-function: ease-in;
  }

  .u-transition-bezier--1 {
    transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  }

  .u-transition-duration-05 {
    transition-duration: 0.5s;
  }

  .u-transition-duration-03 {
    transition-duration: 0.3s;
  }

  .u-transition-duration-02 {
    transition-duration: 0.2s;
  }

  .u-transition-duration-01 {
    transition-duration: 0.1s;
  }

  .u-fade {
    opacity: 0.5;
  }
  .u-fade:hover {
    opacity: 1;
  }

  .u-deleted {
    opacity: 0.5;
  }
}
