.u-text-center {
  text-align: center;
}

.u-text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.u-text--opacity {
  opacity: 0;
}

.u-text-decoration--no {
  text-decoration: none;
}

.u-text-width--100 {
  width: 100%;
}

.u-text-special {
  font-size: 18px;
  font-weight: bold;
}
